/target/*


*.class
target/classes/com/ms/bean/Login.class
*.class
target/classes/META-INF/persistence.xml
/target/

*.classpath
*.class
*.class
*.component
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml
*.component
.settings/org.eclipse.jdt.core.prefs
*.class
*.class
*.class
target/classes/com/ms/bean/Login.class
*.class
target/classes/com/ms/util/MSConstant.class
*.class
target/classes/com/ms/entity/User.class
*.class